* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Georgia', serif;
  font-size: 1.20em;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: normal;
}

h1,
main h2 {
  text-transform: uppercase;
  font-size: 2.5em;
}

main h2 {
  margin-top: 0;
}

main h3 {
  font-size: 2.0em;
}

main h4 {
  font-size: 1.5em;
}

body {
  margin: 0
}

main {
  line-height: 1.6em;
  display: block;
  max-width: 600px;
  margin: 40px 0 0 320px;
  padding: 20px 10px 0;
}

aside {
  width: 300px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 50px;
  background-color: #114768;
  color: #fefdf8;
}

nav li {
  list-style-type: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

nav li time {
  padding-right: 2em;
  text-align: right;
}

nav li a {
}

aside h2 {
  font-size: 1em;
  font-style: italic;
}

article time {
  text-transform: uppercase;
  font-style: italic;
}

article footer {
  width: 20%;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
}

#portrait {
  /* width: 100px; */
  width: 50%;
  border-radius: 10%;
  box-shadow: 0 0 0 2px #1090c2;
}

#portrait:hover {
  box-shadow: 0 0 0 2px #e84242;
}

a {
  color: #1090c2;
  text-decoration:none;
}
a:hover {
  color: #e84242;
}

#nav li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 10px;
  list-style: none;
}

#nav li time {
  margin-right: 20px;
  margin-left: -10px;
  display: inline-block;
  width: 140px;
  text-align: right;
  color: #aaa;
}

#disqus_thread {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

article p code,
article figure figcaption code {
  border: 1px solid #e3e3e3;
  background-color: #fdf6e3;
  padding: 1px 3px;
  color: #586e75;
  white-space: nowrap;
}

article figure {
  text-align: center;
}

article figure figcaption {
  font-size: 0.75em;
  font-style: italic;
}

article figure * {
  max-width: 100%;
}

@media (max-width: 800px) {
  body > aside {
    width: 100%;
    height: auto;
    padding: 15px;
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  main {
    margin: 0 auto;
    width: 100%;
    padding: 15px;
  }
  #disqus_thread {
    margin: 0 auto;
  }
  #portrait {
    margin-top: 16px;
  }
}
