html {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

body {
  margin: 0
}

main {
  line-height: 1.6em;
  display: block;
  max-width: 600px;
  margin: 40px 0 0 320px;
  padding: 20px 10px 0;
}

aside {
  width: 200px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 50px;
  background-color: #354a57;
  color: #fefdf8;
}

aside h1, aside h2 {
  /* margin: 0.2em 0; */
}

aside h2 {
  font-size: 1em;
  font-style: italic;
}

article time {
  text-transform: uppercase;
  font-style: italic;
}

#portrait {
  width: 100px;
  border-radius: 10%;
  box-shadow: 0 0 0 2px #fefdf8;
}

#portrait:hover {
  box-shadow: 0 0 0 2px #f86631;
}

footer {
  text-align: center;
}

a {
  color: #f86631;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}

aside > p {
  margin: 0;
}

#nav li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 10px;
  list-style: none;
}

#nav li time {
  margin-right: 20px;
  margin-left: -10px;
  display: inline-block;
  width: 140px;
  text-align: right;
  color: #aaa;
}

@media (max-width: 800px) {
  body > aside {
    width: 100%;
    height: auto;
    padding: 14px;
    position: static;
    font-size: 80%;
    text-align: center;
  }
  main {
    margin: 0 auto;
    padding-top: 5px;
  }
}
